<div class="sidebar-scrollbar">

    <!-- sidebar menu -->
    <ul class="nav sidebar-inner" id="sidebar-menu">



        <li class="has-sub active expand">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
               aria-expanded="false" aria-controls="dashboard">
                <i class="mdi mdi-view-dashboard-outline"></i>
                <span class="nav-text">Quản lý cửa hàng</span> <b class="caret"></b>
            </a>
            <ul class="collapse show" id="dashboard"
                data-parent="#sidebar-menu">
                <div class="sub-menu">

                    <li class="active">
                        <a class="sidenav-item-link" href="/Admin/Product/Index">
                            <span class="nav-text">Sách</span>

                        </a>
                    </li>

                    <li>
                        <a class="sidenav-item-link" href="/Admin/ProductCategory/Index">
                            <span class="nav-text">Thể loại</span>
                        </a>
                    </li>
                    <li>
                        <a class="sidenav-item-link" href="/Admin/Author/Index">
                            <span class="nav-text">Tác giả</span>
                        </a>
                    </li>
                    <li>
                        <a class="sidenav-item-link" href="/Admin/PublishingCompany/Index">
                            <span class="nav-text">Nhà xuất bản</span>
                        </a>
                    </li>

                </div>
            </ul>
        </li>


        <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements"
               aria-expanded="false" aria-controls="ui-elements">
                <i class="mdi mdi-folder-multiple-outline"></i>
                <span class="nav-text">Quản lý bán hàng</span> <b class="caret"></b>
            </a>
            <ul class="collapse" id="ui-elements"
                data-parent="#sidebar-menu">
                <div class="sub-menu">

                    <li class="has-sub">
                        <a class="sidenav-item-link" href="/Admin/Order/Index">
                            <span class="nav-text">Đơn hàng</span>
                        </a>

                    </li>

                    <li class="has-sub">
                        <a class="sidenav-item-link" href="/Admin/Customer/Index">
                            <span class="nav-text">Khách hàng</span>
                        </a>

                    </li>
                    <li class="has-sub">
                        <a class="sidenav-item-link" href="/Admin/Contact/Index">
                            <span class="nav-text">Liên hệ</span>
                        </a>

                    </li>

                </div>
            </ul>
        </li>



        <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#documentation"
               aria-expanded="false" aria-controls="documentation">
                <i class="mdi mdi-book-open-page-variant"></i>
                <span class="nav-text">Quản lý tin tức</span> <b class="caret"></b>
            </a>
            <ul class="collapse" id="documentation"
                data-parent="#sidebar-menu">
                <div class="sub-menu">



                    <li class="has-sub">
                        <a class="sidenav-item-link" href="/Admin/Content/Index">
                            <span class="nav-text">Tin tức</span>
                        </a>

                    </li>


                    <li class="has-sub">
                        <a class="sidenav-item-link" href="/Admin/Slide/Index">
                            <span class="nav-text">Slide</span>
                        </a>

                    </li>
                </div>
            </ul>
        </li>


        <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#pages"
               aria-expanded="false" aria-controls="pages">
                <i class="mdi mdi-image-filter-none"></i>
                <span class="nav-text">Quản lý tài khoản</span> <b class="caret"></b>
            </a>
            <ul class="collapse" id="pages"
                data-parent="#sidebar-menu">
                <div class="sub-menu">
                    <li>
                        <a class="sidenav-item-link" href="/Admin/User/Index">
                            <span class="nav-text">Tài khoản</span>

                        </a>
                    </li>
                </div>
            </ul>
        </li>


    </ul>

</div>